.link-container {
    font-family: "'Raleway', Serif";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 155px);
    z-index: 5;
    position: relative;
    background: #e3fa8f;
    opacity: 0.6;
}

menu.link-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

    menu.link-menu a.menu-link {
        font-family: Raleway, serif;
        color: #333;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        position: relative;
        text-align: center;
        margin: 1vh auto;
        padding: 2.5vh 0;
        width: 80%;
        background: rgba(255, 255, 255, 0.3);        
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        border-radius: 5px;
        box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset, 3px 5px 10px 0 rgba(0, 0, 0, 0.1);
        text-decoration: none;
        will-change: color, text-shadow, font-size;
        transition: ease all 0.3s;
    }

        menu.link-menu a.menu-link:hover {
            transform: scale(1.1);
            background: rgba(255, 255, 255, 0.8);
        }

.thumbnail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.thumbnail-trans {
    margin-top: -15px;
    
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    transitio: all .2s;
    height: auto;
    width: 200px;
    height: 180px;
}

    .thumbnail-trans > label {
        width: 100%;
        height: 100%;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .thumbnail-trans:hover {
        box-shadow: 0 2px 10px rgba(0,0,0,.9);
    }

.modal-wrapper {
    /*     padding: 1em 0; */
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .modal-wrapper img {
        min-width: 100%;
        width: 100%;
        height: 80%;
        margin-top: 10px;
    }


.span-1 {
    margin-top: 5px;
    font-size: 2.1rem;
    font-weight: bolder;
}

.span-2 {
    margin-top: 3px;
    font-size: smaller;
    font-weight: bolder;
}

.group-portal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    z-index:100;
    width: 264px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    
}

.group-spanner {
    height: 210px;
    padding-top: 150px;
    padding-bottom: 40px;
}
.group-spanner span {
    font-size: 24px;
}